<%= will_paginate @contacts %>

<table class="table">
  <tr>
    <th class='active'><%= link_to "Name", :sort => 'name' %></th>
    <th><%= link_to "E-mail", :sort => 'email' %></th>
    <th><%= link_to "Phone", :sort => 'phone' %></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name  %></td>
      <td><%= mail_to contact.email, contact.email, {:subject=>"Hello, #{contact.name}"} %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>

</table>
